.editor-items-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &_wrapper {
    padding: 0 0.5rem;
    flex: 0 0 14%;
  }

  li {
    width: 160px;
    aspect-ratio: 16/9;
    border: 1px solid rgba(0, 0, 0, 0.67);
    border-radius: 4px;
  }

  &_add-button {
    font-size: 0.8rem;
    display: flex;
  }
}